<div class="row">
  <div class="col">
    <div class="code-editor" style="max-width: 35.5rem; min-width: 35.5rem;" #Receptor></div>
    <div class="alert alert-warning alert-dismissable" *ngIf="errorLexico" style="max-width: 32.5rem; min-width: 32.5rem;">
      <button type="button" class="close" data-dismiss="alert" (click)="errorLexico = false">&times;</button>
      <strong>¡Cuidado!</strong> El programa fuente contiene errores léxicos.
    </div>
    <div class="alert alert-danger alert-dismissable" *ngIf="errorSintactico" style="max-width: 32.5rem; min-width: 32.5rem;">
      <button type="button" class="close" data-dismiss="alert" (click)="errorSintactico = false">&times;</button>
      <strong>¡Cuidado!</strong> El programa fuente contiene errores sintácticos.
    </div>
    <div class="alert alert-success alert-dismissable" *ngIf="exito" style="max-width: 32.5rem; min-width: 32.5rem;">
      <button type="button" class="close" data-dismiss="alert" (click)="exito = false">&times;</button>
      <strong>¡Felicidades!</strong> El programa ha sido traducido con éxito.
    </div>
  </div>
  <div class="col">
    <div class="code-editor" style="max-width: 35.5rem; min-width: 35.5rem;" #Emisor></div>
  </div>
</div>
<div class="row">
  <p></p>
  <p></p>
</div>
<div class="row justify-content-xl-start">
  <div class="col justify-content-center">
    <div class="card border-primary mb-3" style="max-width: 36.5rem; min-width: 36.5rem;">
      <div class="card-header">Tabla de simbolos</div>
      <div class="card-body">
        <table class="table table-active">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo</th>
              <th scope="col">Linea</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active" *ngFor="let variable of variables" >
              <th scope="row">{{variable.nombre}}</th>
              <td>{{variable.tipo}}</td>
              <td>{{variable.fila}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col" >
    <mat-tab-group #tabGroup>
      <mat-tab label="HTML" >
        <div class="code-editor" style="max-width: 35.5rem; min-width: 35.5rem;" #HtmlEditor></div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="code-editor" style="max-width: 35.5rem; min-width: 35.5rem;" #JsonEditor></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <div class="row justify-content-center">
      <button mat-fab color="warn" (click)="analisis()">
        <mat-icon>
          code
        </mat-icon>
      </button>
      &nbsp;
      &nbsp;
      <button mat-fab color="primary" (click)="guardar()">
        <mat-icon>
          save
        </mat-icon>
      </button>
      &nbsp;
      &nbsp;
      <button mat-fab >
        <mat-icon>
          cloud_download
        </mat-icon>
      </button>
      &nbsp;
      &nbsp;
      <button mat-fab color="success" type="button">
        <mat-icon>
          donut_small
        </mat-icon>
      </button>
    </div>
    <p></p>
  </div>
</div>
